/*
	Author: Ender İMEN;
	Date : 19.02.2018;
*/

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Indie Flower', cursive; 
	font-size: 20px;
}

.panels{
	min-height: 100vh;
	display: flex;
	overflow: hidden;
}

.panel{
	display: flex;
	flex-direction: column;
	flex: 1; 
	align-items: center;
	justify-content: center;
	/*box-shadow: inset 0 0 0 5 rgba(255,255,255,0.1);*/
	color: #fff;
	text-align: center;
	transition: 
		font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, 0.11),
		flex 0.7s cubic-bezier(0.61, -0.19, 0.7, 0.11),
		background 0.2s;
	background-size: cover;
	background-position: center;
}
.panel1,.panel2,.panel3,.panel4,.panel5,:hover{
	cursor: pointer;
}

.panel1{ background-image: url('../img/image1.jpg'); }
.panel2{ background-image: url('../img/image2.jpg'); }
.panel3{ background-image: url('../img/image3.jpg'); }
.panel4{ background-image: url('../img/image4.jpg'); }
.panel5{ background-image: url('../img/image5.jpg'); }

.panel > *{
	margin: 0;
	width: 100%;
	transition: transform 0.5s;
	flex: 1 0 auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel > *:first-child{transition: 0.3s;transform: translateY(-100%);}
.panel.open-active > *:first-child{transform: translateY(0);}
.panel > *:last-child{transform: translateY(100%);}
.panel.open-active > *:last-child{transition: 0.3s;transform: translateY(0);}

.panel p {
	text-transform: uppercase;
	text-shadow: 0 0 4px rgba(0,0,0,0.70), 0 0 14px rgba(0,0,0,0.45);
	font-size: 2em;
}

.panel p:nth-child(2){
	font-size: 4em;
}

.panel.open{
	flex: 3;
	font-size: 40px;
}